{% extends "base_layout.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-lg-8 col-md-12">
    <div class="post-wrapper">

        <h3 class="title"><b>You have been logged out!!</b></h3>

        <div class="content-section">
                <img id='logout' src="{% static 'images/logout.jpg' %}"
                alt="Logo Image">
            <div>
                <small class="text-muted">
                    Already Have An Account? <a  class="ml-2" href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>


    </div><!-- post-wrapper -->
</div><!-- col-sm-8 col-sm-offset-2 -->

{% endblock %}