{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->


	<link href="{% static '/common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static '/common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static '/layout-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static '/layout-1/css/responsive.css' %}" rel="stylesheet">

	<link href="{% static 'blank-static/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'blank-static/css/responsive.css' %}" rel="stylesheet">

	<link href="{% static 'blog-sidebar/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'blog-sidebar/css/responsive.css' %}" rel="stylesheet">

	<link href="{% static 'logout/styles.css' %}" rel="stylesheet">

	<link href="{% static 'profile-img/styles.css' %}" rel="stylesheet">


	<link href="{% static 'single-post-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'single-post-1/css/responsive.css' %}" rel="stylesheet">



	{% if title %}
	<title>LearnPost - {{ title }}</title>
	{% else %}
	<title>LearnPost</title>
	{% endif %}


</head>

<body>

	<header>
		<div class="container-fluid position-relative no-side-padding ">

			<a href="{% url 'blog-home' %}" class="logo"><img src="{% static 'images/logo_red.png' %}"
					alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{% url 'blog-home' %}">Home</a></li>
				<li><a href="{% url 'blog-about' %}">About</a></li>
			</ul><!-- main-menu -->

			<!-- <div class="src-area">
						<form>
							<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
							<input class="src-input" type="text" placeholder="Type of search">
						</form>
					</div> -->
			{% if user.is_authenticated %}
			<ul class="accounts-menu visible-on-click" id="accounts-menu">
				<li><a href="{% url 'post-create' %}"><i class="mr-2 ion-plus"></i>New Post</a></li>
				<li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
				<li><a href="{% url 'logout' %}"><i class="mr-2 ion-log-out"></i>Logout</a></li>
			</ul><!-- main-menu -->
			{% else %}
			<ul class="accounts-menu visible-on-click" id="accounts-menu">
				<li><a href="{% url 'login' %}"><i class="mr-2 ion-log-in"></i>Login</a></li>
				<li><a href="{% url 'register' %}"><i class="mr-2 ion-android-create"></i>SignUp</a></li>
			</ul><!-- main-menu -->
			{% endif %}
		</div><!-- conatiner -->
	</header>

	<main>


		{% block content %}
		{% endblock %}



	</main>

	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="{% url 'blog-home' %}"><img src="{% static 'images/logo_red.png' %}"
								alt="Logo Image"></a>
						<p class="copyright">learnpost @ {{ date }}. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">BEAUTY</a></li>
							<li><a href="#">HEALTH</a></li>
							<li><a href="#">MUSIC</a></li>
						</ul>
						<ul>
							<li><a href="#">SPORT</a></li>
							<li><a href="#">DESIGN</a></li>
							<li><a href="#">TRAVEL</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i
										class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->


	<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'common-js/tether.min.js' %}"></script>

	<script src="{% static 'common-js/bootstrap.js' %}"></script>

	<script src="{% static 'common-js/scripts.js' %}"></script>
	{% block jquery %}  
	{% endblock jquery %}
	{% block commentjs %}
	  
	{% endblock commentjs %}
	

</body>

</html>